
@{
    ViewBag.Title = "DetailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/mvcdemo.js"></script>

<h2>DetailsIndex</h2>
<input type="hidden" value="@ViewBag.Id" id="hdnid"  />
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">

                <label><b>Name:-</b></label>
                <span id="txtname"></span>

                <label><b>Mobile_No:-</b></label>
                <span id="txtnumber"></span>
            </div>
            <div class="col-sm-6">

                <label><b>Email:-</b></label>
                <span id="txtemail"></span>

                <label><b>Address:-</b></label>
                <span id="txtAdd"></span>

            </div>
        </div>

    </div>

</div>
